.samepage-shared-page-status img {
  margin: 0;
}

#samepage-notification-container {
  z-index: 1;
  margin-right: 4px;
}

.bg-slate-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(241 245 249 / var(--tw-bg-opacity));
}

.samepage-notification-container .border-b {
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
}

.samepage-notification-container h4 {
  margin: 0;
}
